/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2e4a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #40a798;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2fa4ff;
}
