---
const today = new Date();
---

<footer class="text-sm">
	&copy; {today.getFullYear()} Siddharth Suresh. All rights reserved. <a href="https://github.com/siddhsuresh/siddhsuresh-me" class="font-bold">View Repository</a>
</footer>
<style>
	footer {
		padding: 25px;
		z-index: 10;
		text-align: center;
		color: #fff;
		font-weight: 500;
	}
</style>
