---
import Resume from "../components/Resume.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="CV">
  <div class="pb-5">
    <div class="p-10 rounded-xl border-4 flex items-center justify-center">
      <Resume />
    </div>
  </div>
  <!-- <div class="block sm:hidden text-[#279f77] font-bold">
    CV is not available on mobile devices.
  </div> -->
  <a href="https://rxresu.me/" class="text-center text-white w-full"
    >Made Using Reactive Resume</a
  >
</BaseLayout>
