---
import Resume from "../components/Resume.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="pb-5">
    <div class="p-10 rounded-xl border-2">
      <Resume />
    </div>
  </div>
</BaseLayout>
