---
import HeaderLink from "./HeaderLink.astro";
---

<div class="z-10 p-5 flex items-center justify-center rounded-2xl bg-gray-50/0 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60" style="backdrop-filter: blur(20px);">
  <header>
    <nav class="flex flex-row items-center justify-center gap-4 text-lg font-semibold ">
      <HeaderLink href="/" class="hover:underline hover:underline-offset-4 hover:text-[#F65C78]">Home</HeaderLink>
      <!-- <HeaderLink href="/cv" class="hover:underline hover:underline-offset-4 hover:text-[#F65C78]">CV</HeaderLink> -->
      <HeaderLink href="/projects" class="hover:underline hover:underline-offset-4 hover:text-[#F65C78]">Projects</HeaderLink>
      <HeaderLink href="/about" class="hover:underline hover:underline-offset-4 hover:text-[#F65C78]">About</HeaderLink>
      <HeaderLink href="https://github.com/siddhsuresh" target="_blank" class="hover:underline hover:underline-offset-4 hover:text-[#F65C78]"
        >GitHub</HeaderLink
      >
    </nav>
  </header>
</div>
<style>
  header {
    color: white;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
