<h1><span>Siddharth</span><span> Suresh</span></h1>

<style>
  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");

  h1 {
    color: #29fc9b;
    font-size: 8vw;
    text-align: center;
    z-index: 10;
  }

  h1 span {
    font-weight: 700;
    display: block;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 12vw;
    }
  }
</style>
