---
import Arrow from "./arrow.astro";

---

<div id="content">
  <h2 class="p-10 text-3xl font-bold text-center text-gray-100">
    Level 1 Maintainer for <a href="https://blitzjs.com/" class="text-[#8a3df0]"
      >Blitz.js</a
    > with <a
      href="https://github.com/blitz-js/blitz/commits?author=siddhsuresh"
    >
      25+ contributions
    </a>
  </h2>
  <!-- <h2 class="p-10 text-3xl font-bold text-center text-[#29fc9b]">
    Featured Pull Requests
  </h2>
  <div class="flex flex-wrap items-center justify-center gap-5">
    <a href="https://github.com/blitz-js/blitz/pull/3943">
      <img src="/decouple.png" alt="docs" class="rounded-xl scale-90" />
    </a>
    <a href="https://github.com/blitz-js/blitz/pull/3869">
      <img src="/multiple.png" alt="multiple" class="rounded-xl scale-90" />
    </a>
    <a href="https://github.com/blitz-js/blitz/pull/3902">
      <img src="/auth.png" alt="auth" class="rounded-xl scale-90" />
    </a>
    <a href="https://github.com/blitz-js/blitz/pull/3824">
      <img src="/ci.png" alt="ci" class="rounded-xl scale-90" />
    </a>
    <a href="https://github.com/blitz-js/blitz/pull/3891">
      <img src="/get.png" alt="get" class="rounded-xl scale-90" />
    </a>
  </div> -->
  <!-- svg array from above div to the next -->

  <!-- View My Contributions in /repo/blitz-js/blitz -->
  <div class="relative flex flex-wrap items-center justify-center gap-5 text-lg text-white">
    <a href="/contributions/blitz-js/blitz">
      View My Contributions
    </a>
    <!-- <Arrow/> -->
    </div>
  <style>
    #content {
      position: relative;
      width: 100%;
      height: 100%;
    }
    #content:before,
    #content:after,
    #content > :first-child:before,
    #content > :first-child:after {
      position: absolute;
      width: 100px;
      height: 100px;
      border-color: #8a3df0; /* or whatever colour */
      border-style: solid; /* or whatever style */
      content: " ";
    }
    #content:before {
      top: 0;
      left: 0;
      border-width: 5px 0 0 5px;
    }
    #content:after {
      top: 0;
      right: 0;
      border-width: 5px 5px 0 0;
    }
    #content > :first-child:before {
      bottom: 0;
      right: 0;
      border-width: 0 5px 5px 0;
    }
    #content > :first-child:after {
      bottom: 0;
      left: 0;
      border-width: 0 0 5px 5px;
    }
  </style>
</div>
