<style>
    /*! CSS Used from: https://rxresu.me/_next/static/css/5e3378031f931e0f.css */
    .Gengar_page__2HLpH {
        height: 100%;
      }
      .Gengar_page__2HLpH a {
        font-weight: 600;
      }
      .Gengar_container__rla1L {
        word-break: break-word;
        display: grid;
        height: 100%;
        grid-template-columns: repeat(6, minmax(0, 1fr));
      }
      .Gengar_container__rla1L .Gengar_main__f1PZi {
        grid-column: span 4 / span 4;
        display: flex;
        flex-direction: column;
      }
      .Gengar_container__rla1L .Gengar_main__f1PZi .Gengar_inner__Ebsn6 {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
      }
      .Gengar_container__rla1L .Gengar_sidebar__6KIBP {
        grid-column: span 2 / span 2;
        display: flex;
        height: 100%;
        flex-direction: column;
      }
      .Gengar_container__rla1L .Gengar_sidebar__6KIBP .Gengar_inner__Ebsn6 {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
      }
      .Page_container__JtEan {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.125rem;
      }
      .Page_page__wHcAN {
        width: 210mm;
        min-height: 297mm;
        position: relative;
        z-index: 50;
        display: grid;
        --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px -1px rgba(0, 0, 0, 0.1);
        --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
          0 1px 2px -1px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
          var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      }
      /*! CSS Used from: Embedded */
      .css-gtyawg {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        --primary-color: #03a9f4;
      }
      .css-gtyawg svg {
        color: var(--primary-color);
      }
      .css-1jyf2d0 {
        font-size: 12px;
        font-family: "Open Sans";
      }
      .css-1jyf2d0 svg {
        font-size: 12px;
      }
      .css-1jyf2d0 h1,
      .css-1jyf2d0 h3 {
        font-weight: bold;
        font-family: "Open Sans";
      }
      .css-1jyf2d0 h1 {
        font-size: 29px;
        line-height: 29px;
      }
      .css-1jyf2d0 h3 {
        font-size: 14.5px;
        line-height: 14.5px;
      }
      .css-14poufk {
        --primary-color: #ffffff;
      }
      .css-14poufk svg {
        color: rgb(255, 255, 255);
      }
      .css-1varatw svg {
        color: rgb(255, 255, 255);
      }
      /*! CSS Used from: Embedded */
      .css-11fo197 {
        user-select: none;
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentcolor;
        flex-shrink: 0;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-size: 1.28571rem;
      }
      /*! CSS Used fontfaces */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2)
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2)
          format("woff2");
        unicode-range: U+1F00-1FFF;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2)
          format("woff2");
        unicode-range: U+0370-03FF;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2)
          format("woff2");
        unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2)
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2)
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2)
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2)
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2)
          format("woff2");
        unicode-range: U+1F00-1FFF;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2)
          format("woff2");
        unicode-range: U+0370-03FF;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2)
          format("woff2");
        unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2)
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2)
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2)
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2)
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2)
          format("woff2");
        unicode-range: U+1F00-1FFF;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2)
          format("woff2");
        unicode-range: U+0370-03FF;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2)
          format("woff2");
        unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2)
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2)
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-stretch: 100%;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2)
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }
</style>

<div class="Page_container__JtEan !text-sm" data-page="1" data-format="A4"><div class="reset Page_page__wHcAN css-gtyawg css-1jyf2d0"><div class="Gengar_page__2HLpH"><div class="Gengar_container__rla1L"><div class="Gengar_sidebar__6KIBP"><div class="css-14poufk" style="color: rgb(255, 255, 255); background-color: rgb(3, 169, 244);"><div class="col-span-2 grid justify-items-start gap-3 p-4"><img alt="Siddharth Suresh" src="/profile.jpg" width="80" height="80" class="object-cover !border-[4px] !border-solid rounded-lg"><div><h1 class="mb-1">Siddharth Suresh</h1><p class="opacity-75">Computer Science Student at VIT Chennai</p></div><div class="flex flex-col gap-2.5 css-1varatw"><div class="inline-flex items-center gap-1 !gap-2 text-xs"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="RoomIcon"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path></svg><span>#958, 12th Cross, 3rd Block, 1st Stage, HBR Layout , Bangalore, Karnataka , 560043, India</span></div><div class="inline-flex items-center gap-1 !gap-2 text-xs"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CakeIcon"><path d="M12 6c1.11 0 2-.9 2-2 0-.38-.1-.73-.29-1.03L12 0l-1.71 2.97c-.19.3-.29.65-.29 1.03 0 1.1.9 2 2 2zm4.6 9.99-1.07-1.07-1.08 1.07c-1.3 1.3-3.58 1.31-4.89 0l-1.07-1.07-1.09 1.07C6.75 16.64 5.88 17 4.96 17c-.73 0-1.4-.23-1.96-.61V21c0 .55.45 1 1 1h16c.55 0 1-.45 1-1v-4.61c-.56.38-1.23.61-1.96.61-.92 0-1.79-.36-2.44-1.01zM18 9h-5V7h-2v2H6c-1.66 0-3 1.34-3 3v1.54c0 1.08.88 1.96 1.96 1.96.52 0 1.02-.2 1.38-.57l2.14-2.13 2.13 2.13c.74.74 2.03.74 2.77 0l2.14-2.13 2.13 2.13c.37.37.86.57 1.38.57 1.08 0 1.96-.88 1.96-1.96V12C21 10.34 19.66 9 18 9z"></path></svg><span>March 13, 2002</span></div><div class="inline-flex items-center gap-1 !gap-2 text-xs"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="EmailIcon"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4-8 5-8-5V6l8 5 8-5v2z"></path></svg><a href="mailto:siddh.suresh@gmail.com" target="_blank" rel="noreferrer">siddh.suresh@gmail.com</a></div><div class="inline-flex items-center gap-1 !gap-2 text-xs"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="PhoneIcon"><path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"></path></svg><a href="tel:6361929897" target="_blank" rel="noreferrer">6361929897</a></div><div class="inline-flex items-center gap-1 !gap-2 text-xs"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="PublicIcon"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z"></path></svg><a href="https://github.com/siddhsuresh" target="_blank" rel="noreferrer">https://github.com/siddhsuresh</a></div><div class="inline-flex items-center gap-1 !gap-2 text-xs"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg><a href="https://www.linkedin.com/in/siddharth-sureshn/" target="_blank" rel="noreferrer">siddharth-sureshn</a></div></div></div></div><div class="Gengar_inner__Ebsn6" style="background-color: rgba(3, 169, 244, 0.15);"><section id="Gengar_skills"><h3 class="mb-2 w-2/3 border-b-2 pb-1.5 font-bold uppercase" style="color: rgb(3, 169, 244); border-color: rgb(3, 169, 244);">Technical Skills</h3><div class="grid items-start gap-4" style="grid-template-columns: repeat(1, minmax(0px, 1fr));"><div id="d692d16e-32a6-40da-bb19-d11deda0096c" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Frontend</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div>Nextjs, HTML/CSS, React, Typescript, jQuery</div></div><div id="1a6e658b-d071-47ba-bb89-8a714180ec86" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Backend</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div>MongoDB, Django, Nodejs, Firebase, Socket.IO, Expressjs, PostgreSQL, Blitzjs</div></div><div id="a648a166-7cbd-41c5-acb7-2d221409431a" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Embedded Programming</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div>Micropython, ESP8266, ESP32, Arduino</div></div></div></section><section id="Gengar_certifications"><h3 class="mb-2 w-2/3 border-b-2 pb-1.5 font-bold uppercase" style="color: rgb(3, 169, 244); border-color: rgb(3, 169, 244);">Certifications &amp; Achievements </h3><div class="grid items-start gap-4" style="grid-template-columns: repeat(1, minmax(0px, 1fr));"><div id="6f9a19ba-4ade-49d5-b736-f9f36b1d8809" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Certificate of Excellence - Consistent Performer for AY 2018-2020 </span><span class="opacity-75">New Horizon PU College</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div></div><div id="4b7d0278-9a67-4cb3-8061-7c7dc426b03f" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Head Boy of Euro School 2017-18</span><span class="opacity-75">Euro School</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div></div></div></section><section id="Gengar_d9282849-d8dd-47be-91d2-0ed40985bb11"><h3 class="mb-2 w-2/3 border-b-2 pb-1.5 font-bold uppercase" style="color: rgb(3, 169, 244); border-color: rgb(3, 169, 244);">Computer Languages</h3><div class="grid items-start gap-4" style="grid-template-columns: repeat(1, minmax(0px, 1fr));"><div id="e75bce07-acac-4185-b2be-63f968f19299" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Python</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div></div></div><div id="c6042f61-035a-4dea-9c43-becd0ae80959" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold"> TypeScript</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div></div></div><div id="2d04143e-d8b5-4a99-982e-dc4ee66aee45" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">JavaScript</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div></div></div><div id="a160dac6-5f70-4c9a-bc53-052c5df95db6" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Java</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div></div></div><div id="4c06cc62-5f41-4bac-974c-885b26a57f0d" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">C &amp; C++</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div></div></div></div></section><section id="Gengar_3df27560-1318-4d3e-98f1-672185a89355"><h3 class="mb-2 w-2/3 border-b-2 pb-1.5 font-bold uppercase" style="color: rgb(3, 169, 244); border-color: rgb(3, 169, 244);">Languages</h3><div class="grid items-start gap-4" style="grid-template-columns: repeat(1, minmax(0px, 1fr));"><div id="07723b84-edb6-43e5-9ea4-b15c85196f40" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">English, Hindi, Tamil, Kannada</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div></div></div></div></section><section id="Gengar_5590b270-d421-4b3e-a988-00031d398cd6"><h3 class="mb-2 w-2/3 border-b-2 pb-1.5 font-bold uppercase" style="color: rgb(3, 169, 244); border-color: rgb(3, 169, 244);">Skills</h3><div class="grid items-start gap-4" style="grid-template-columns: repeat(1, minmax(0px, 1fr));"><div id="a9a238b6-1046-4059-8680-118c48bc2941" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold"> </span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div class="markdown"><ul>
<li>Good written and spoken communication</li>
<li>Team Player</li>
</ul></div><div></div></div></div></section><section id="Gengar_456a4e7b-56d7-471e-8a5f-77ba0700ebe5"><h3 class="mb-2 w-2/3 border-b-2 pb-1.5 font-bold uppercase" style="color: rgb(3, 169, 244); border-color: rgb(3, 169, 244);">Extra-curricular Activites</h3><div class="grid items-start gap-4" style="grid-template-columns: repeat(1, minmax(0px, 1fr));"><div id="921be517-564f-43f9-ba3f-b6e31f7dc684" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold"> </span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div class="markdown"><ul>
<li>FIDE Ranked Chess Player</li>
<li>Basketball - Part of the school basketball team</li>
</ul></div><div></div></div></div></section><section id="Gengar_c326f4a9-9716-417b-9fe6-dd7cd5762041"><h3 class="mb-2 w-2/3 border-b-2 pb-1.5 font-bold uppercase" style="color: rgb(3, 169, 244); border-color: rgb(3, 169, 244);">Hobbies</h3><div class="grid items-start gap-4" style="grid-template-columns: repeat(2, minmax(0px, 1fr));"><div id="0ae660b7-6b69-469a-8b14-39c4d6e9f234" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold"> </span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div class="markdown"><ul>
<li>Swimming</li>
<li>Table Tennis</li>
<li>Roller Skating</li>
</ul></div><div></div></div></div></section></div></div><div class="Gengar_main__f1PZi"><div><div class="grid gap-2 p-4" style="background-color: rgba(3, 169, 244, 0.15);"></div></div><div class="Gengar_inner__Ebsn6"><section id="Gengar_62d4d37e-b352-4e2f-ae21-b58d4d1d8c29"><h3 class="mb-2 w-2/3 border-b-2 pb-1.5 font-bold uppercase" style="color: rgb(3, 169, 244); border-color: rgb(3, 169, 244);">Open Source Contributions</h3><div class="grid items-start gap-4" style="grid-template-columns: repeat(2, minmax(0px, 1fr));"><div id="339ca696-1980-458b-9aa1-c59b90732e2b" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Blitzjs</span><span class="opacity-75">The Missing Fullstack Toolkit for Next.js</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div class="grid gap-1"><span class="opacity-75">Collaborator / Maintainer</span></div><div class="markdown"><p><a href="https://github.com/blitz-js/blitz">https://github.com/blitz-js/blitz</a></p></div><div class="inline-flex items-center gap-1"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="LinkIcon"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path></svg><a href="https://blitzjs.com/" target="_blank" rel="noreferrer">https://blitzjs.com/</a></div><div></div></div></div></section><section id="Gengar_work"><h3 class="mb-2 w-2/3 border-b-2 pb-1.5 font-bold uppercase" style="color: rgb(3, 169, 244); border-color: rgb(3, 169, 244);">Work Experience</h3><div class="grid items-start gap-4" style="grid-template-columns: repeat(1, minmax(0px, 1fr));"><div id="dee7a38e-5ce0-4bc6-8cd2-0545990f1e91" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">FashionVerse</span><span class="opacity-75">Frontend Freelance</span></div><div class="flex flex-col gap-1 text-right text-xs"><div class="opacity-50">(March 22, 2022 - April 28, 2022)</div></div></div><div class="markdown"><ul>
<li>Implemented the <em>3D and AR</em> viewer for the NFTs</li>
<li>Created the product page to view NFTs</li>
<li>Improved User Experience by adding an animated Logo during page load</li>
</ul></div><div class="inline-flex items-center gap-1"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="LinkIcon"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path></svg><a href="https://www.thefashionverse.io/" target="_blank" rel="noreferrer">https://www.thefashionverse.io/</a></div></div><div id="8779a956-1494-48bc-a352-0315635e7e2a" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Art Portfolio Website</span><span class="opacity-75">Developer</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div class="markdown"><p>Creating a digital art portfolio which an interactive homepage using next.js and three.js</p></div><div class="inline-flex items-center gap-1"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="LinkIcon"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path></svg><a href="https://www.sanjanasuresh.art/" target="_blank" rel="noreferrer">https://www.sanjanasuresh.art/</a></div></div><div id="c2acad42-2ac5-4513-b975-8299150da3d4" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Full Stack Development</span><span class="opacity-75">Freelance</span></div><div class="flex flex-col gap-1 text-right text-xs"><div class="opacity-50">(May 13, 2022 - Present)</div></div></div><div class="markdown"><ul>
<li>Created a Full-Stack admin dashboard with authorized UI/UX</li>
<li>Implemented authentication with a password and Google OAuth</li>
<li>Securing payments via leading payment gateways</li>
<li>Developed templating engine to generate custom-made forms used to generate PDF documents</li>
</ul></div></div></div></section><section id="Gengar_education"><h3 class="mb-2 w-2/3 border-b-2 pb-1.5 font-bold uppercase" style="color: rgb(3, 169, 244); border-color: rgb(3, 169, 244);">Education</h3><div class="grid items-start gap-4" style="grid-template-columns: repeat(1, minmax(0px, 1fr));"><div id="271b4eab-c2c9-47de-80d3-325960cad981" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Vellore Institute of Technology, Chennai</span><span class="opacity-75">B. Tech Computer Science , Specialization in Cyber Physical Systems</span></div><div class="flex flex-col gap-1 text-right text-xs"><div class="opacity-50">(September 21, 2020 - Present)</div><span class="opacity-75">9.03 CGPA</span></div></div><div class="markdown"><table><thead><tr><th>Semester</th><th>4</th><th>3</th><th>2</th><th>1</th></tr></thead><tbody><tr><td>CGPA</td><td>9.03</td><td>9.06</td><td>9.13</td><td>9.11</td></tr></tbody></table></div><div class="inline-flex items-center gap-1"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="LinkIcon"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path></svg><a href="https://chennai.vit.ac.in/" target="_blank" rel="noreferrer">https://chennai.vit.ac.in/</a></div><div></div></div><div id="db3b7e77-e5bb-4200-96f4-ed803e4fc7fd" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">New Horizon Pre-University Education</span><span class="opacity-75">Second PUC, Science</span></div><div class="flex flex-col gap-1 text-right text-xs"><div class="opacity-50">(May 09, 2018 - July 14, 2020)</div><span class="opacity-75">DISTINCTION </span></div></div><div class="markdown"><p><strong>94%</strong> (with languages) and <strong>97%</strong> (Physics, Chemistry, Math, Computer Science)</p></div><div class="inline-flex items-center gap-1"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="LinkIcon"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path></svg><a href="https://nhpuc.in/" target="_blank" rel="noreferrer">https://nhpuc.in/</a></div><div></div></div><div id="faa853b0-a3ca-4933-8466-474340f12811" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Euro School North Campus</span><span class="opacity-75">CBSE Class 10</span></div><div class="flex flex-col gap-1 text-right text-xs"><div class="opacity-50">(March 16, 2011 - March 28, 2018)</div></div></div><div class="markdown"><p><strong>95%</strong> (Math, Science, English) and <strong>89%</strong> (overall)</p></div><div class="inline-flex items-center gap-1"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="LinkIcon"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path></svg><a href="https://www.euroschoolindia.com/bengaluru/school-in-north-campus" target="_blank" rel="noreferrer">https://www.euroschoolindia.com/bengaluru/school-in-north-campus</a></div><div></div></div></div></section><section id="Gengar_awards"><h3 class="mb-2 w-2/3 border-b-2 pb-1.5 font-bold uppercase" style="color: rgb(3, 169, 244); border-color: rgb(3, 169, 244);">Awards</h3><div class="grid items-start gap-4" style="grid-template-columns: repeat(1, minmax(0px, 1fr));"><div id="4bf6e373-f1dc-4392-a048-8176fdce6d9a" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Team of 3 won 1st place in h.acKnight 48-HOUR OFFLINE HACKATHON April 2022</span><span class="opacity-75">Conducted by Hack Club VIT Chennai</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div class="markdown"><p>Sponsored by CRUST and POLYGON</p></div><div class="inline-flex items-center gap-1"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="LinkIcon"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path></svg><a href="https://0xticket.vercel.app/" target="_blank" rel="noreferrer">https://0xticket.vercel.app/</a></div></div></div></section><section id="Gengar_projects"><h3 class="mb-2 w-2/3 border-b-2 pb-1.5 font-bold uppercase" style="color: rgb(3, 169, 244); border-color: rgb(3, 169, 244);">Projects</h3><div class="grid items-start gap-4" style="grid-template-columns: repeat(1, minmax(0px, 1fr));"><div id="8306cf76-b6d8-4b60-abfe-a2e6e7a29eb4" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Library Database Management</span><span class="opacity-75">J Component Project For the CSE2004 Database Management Course.</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div class="markdown"><p>GitHub Repository
<a href="https://github.com/siddhsuresh/blueblack-Library-Database-Management">https://github.com/siddhsuresh/blueblack-Library-Database-Management</a></p></div><div class="inline-flex items-center gap-1"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="LinkIcon"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path></svg><a href="https://blueblack.pythonanywhere.com/" target="_blank" rel="noreferrer">https://blueblack.pythonanywhere.com/</a></div><div>Django, SQL, Full-Stack, Opensource, tailwindcss</div></div><div id="e5c3e529-7530-4bf3-be33-677cc4938c06" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Automatic Temperature Controlled Fan with AI Voice Recognition</span><span class="opacity-75">J Component Project For the CSE2006 Microprocessor and Interfacing Course</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div class="markdown"><p>GitHub Repository
<a href="https://github.com/siddhsuresh/ESP8266-Arduino-Voice-Temp-Fan-Motor-Automation">https://github.com/siddhsuresh/ESP8266-Arduino-Voice-Temp-Fan-Motor-Automation</a></p></div><div class="inline-flex items-center gap-1"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="LinkIcon"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path></svg><a href="https://cse2006-team21.herokuapp.com/" target="_blank" rel="noreferrer">https://cse2006-team21.herokuapp.com/</a></div><div>ESP8266, Voice Recognition, ExpressJS, Socket.IO, Arduino, tailwindcss</div></div><div id="1d2c84f0-e001-470b-a3ac-c8515620b070" class="grid gap-1"><div class="flex items-start justify-between"><div class="flex flex-col"><span class="font-semibold">Distributed Real Time Irrigation System</span><span class="opacity-75">J Component Project for the CSE2021 Distributed Real Time Systems Course</span></div><div class="flex flex-col gap-1 text-right text-xs"></div></div><div class="markdown"><p>GitHub Repository - NextJS</p>
<p><a href="https://github.com/siddhsuresh/DRTS-Project-Frontend">https://github.com/siddhsuresh/DRTS-Project-Frontend</a></p>
<p>GitHub Repository - FastifyJS &amp; Socket.IO</p>
<p><a href="https://github.com/siddhsuresh/DRTS-Project-Backend">https://github.com/siddhsuresh/DRTS-Project-Backend</a></p></div><div class="inline-flex items-center gap-1"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-11fo197" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="LinkIcon"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path></svg><a href="https://drtsprojectsiddharth.vercel.app/" target="_blank" rel="noreferrer">https://drtsprojectsiddharth.vercel.app/</a></div><div>Socket.IO, FastifyJS, NextJS &amp; React, ESP32 &amp; ESP8266, freeRTOS &amp; Arduino</div></div></div></section></div></div></div></div></div></div>